html{
    margin: 0;
}
body{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
header{
    margin-bottom: 25px;
}
header>img{
    margin: 0;
    width: 100vw;
}
main{
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
main>article{
    padding: 50px;
    background-color: #d8df92;
    border-radius: 20px;
    text-align: center;
}
main>article>img{   
    height: 300px;
    box-sizing: border-box;
    border: #588729 solid 5px;
    border-radius: 20px;
}
main>article>p{
    color: #4f8121;
    font-weight: bold;
    font-size: 30px;
}
footer{
    margin-top: 25px;
}
footer>img{
    margin: 0;
    width: 100vw;
}